<h1>Delete Question</h1>
<%= form_tag( { :action => :delete, }, { :method => :post }) %>
<div class="field">
<label>Enter Question ID:</label><br />
<%=text_field_tag 'quesid' %>
</div>
<%= submit_tag("Delete") %>
