<h1>Questions</h1>
<ol>
<% if @questions.present? %>
<% @questions.each do |question| %>
<div class = 'mypack'>
	<%=question.content%>&nbsp;&nbsp;
	<br/>
	<font size='2'>Posted <%= time_ago_in_words(question.created_at) %> ago.</font>
	<br/>
	<%= link_to "EDIT",edit_question_path(question.id), :class => 'btn btn-warning', :style => 'color: #FFF' %>&nbsp;<%= link_to "DELETE",question, :method=>"DELETE",:confirm=>"Are you sure?", :class => 'btn btn-danger', :style => 'color: #FFF' %>
</div><hr class='round'>
<% end %>
<%end%>
</ol>
