<h1 class="legend">All users</h1>(Admins shown without links)
<ul class="users">
<% @users.each do |user| %>
<%if !user.admin? %>
<li>
<%= link_to user.name, user %>
</li>
<% else %>
<li>
<%= user.name %>
</li>
<%end%>
<% end %>
</ul>
