<table class="profile" summary="Profile information">
<tr>
<td class="main">
<h1>
<marquee><%= @user.name %></marquee>
</h1>
</td>
<td class="sidebar round">
<strong>NAME&nbsp;:</strong> <%= @user.name %><br />
<%if @user.admin?%>
<strong>QUESTIONS: <%= @questions.count %></strong>
<%else%>
<strong>SCORE:</strong>
<%end%>
</td>
</tr>
</table>
<%if @user.admin?%>
<% if @user.questions.present? %>
<ol class="microposts">
<% @questions.each do |question| %>
<li>
<%=question.content%>
</li>
<% end %>
<%end%>
</ol>
<%else%>
<% end %>

