<table class="profile" summary="Profile information">
<tr>
<td class="main">

</td>
<td class="sidebar round">
<label class="control-label">NAME:&nbsp;<%= @user.name %></label> 
<%if @user.admin?%>
<label class="control-label"><em>ADMINISTRATOR</em></label>
<label class="control-label">QUESTIONS: <%= @questions.count %></label>
<%else%>
<label class="control-label">SCORE:&nbsp;<%= @score %></label>
<%end%>
</td>
</tr>
</table>
<%if current_user.admin?%>
<%if @user.admin?%>
<ol>
<% if @user.questions.present? %>
<% @questions.each do |question| %>
<li><i class="icon-thumbs-up icon-black"></i>&nbsp;<%=question.content%></li>
<% end %>
<%end%>
</ol>
<%end%>
<%else%>
<% end %>

