<h1 class="legend">ABOUT</h1>
<div class='mypack'>
<p>This is an interactive quiz application that helps one improve and assess his/her own knowledge</p>
<p class="text-center">Enjoy!!Have fun!!</p>
</div>