<h1 class="legend">CONTACT</h1>
<p><div class='mypack'>
<ul>
	<li>NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:S.Aravind</li>
	<li>E-MAIL ID: aravind.soundararajan@chronus.com</li>
	<li>Intern at <a href='http://chronus.com/'>Chronus</a></li>
</ul></div>
</p>
