<h1 class="legend">HELP</h1>
<div class='mypack'>
<p><b>Read through the following instructions carefully.</b></p>
<ul>
	<li>Password must be atleast six characters long</li><br/>
	<li>After signing in, select one of the question papers set by the administrators</li><br/>
	<li>Unanswered questions carry zero mark</li>
</ul>
</div>

