<div class="hero-unit"><h1 class="text-center">QUIZZERS HOME</h1><br/>

<% if current_user.nil? %>
<%= link_to "Sign up now!", signup_path, :class =>"signup_button" %>
<%else%>
<h4 style="display:inline"> Welcome <%=current_user.name%>!!</h4><br>
<%end%>

</div>